In [13]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [14]:
lst_square([1,2,3])

[1, 4, 9]

In [16]:
lst = [1,2,3]

In [17]:
[i*i for i in lst]

[1, 4, 9]

In [18]:
[i*i for i in lst if i%2==0]

[4]

In [21]:
def welcome(name,age):
    print("Welcome {}. Your age {}".format(name,age))

In [23]:
welcome("duy",30)

Welcome duy. Your age 30

In [24]:
def welcome1(name,age):
    print("Welcome {name1}. Your age {age1}".format(name1=name,age1=age))

In [26]:
welcome1("ly",25)

Welcome ly. Your age 25